/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
​
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
​
/* Remove default margin */
html,
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd
div {
  margin: 0;
}
​
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
​
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
​
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
​
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
​
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* END OF RESET STYLES*/
.background-blue {
  background-color: #474985;
} 
.nav-bar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;

  display: flex;
  height: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px solid #474985;
  justify-content: space-between;
  background-color: white;

}

.name-in-hdr {
    /*margin-right: auto;*/
    padding-left: 5rem;
    color: #474985;
    background-color: white

}

.header-icon {
    background-color: white;
    color: #474985;
    margin: 1rem 1rem;
    padding: .5rem .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;

  }
  .header-icon:hover {
    background-color: #474985;
    color: white;
  }

  /*
  * COLOR PALETTE:
  * #88BDBC
  * #254E58
  * #112D32
  * #4F4A41
  * #6E6658
  */
  /*box shadow
  mullish
  */
  .resume {
    margin-left:5rem;
    padding: .3rem .3rem;
    border: 3px solid  #474985;
    border-radius: 8px;
    background-color: white;
    color: #254E58;

  }
/*borders are only here to help see divisions*/
#greeting {
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.bio-wrapper {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.introduction {
  color:#112D32
}
#greeting img {  
  width: 16rem;
  height: 13rem;
  border-radius:8px;
}

.text-blue {
  color: #474985;
}
.text-white {
  color: white;
}
.small-text {
  font-size: 1.5rem;
}

#exclaim-the-name {
  font-size: 3rem;
}

#about-me {
  border-bottom: 2px dashed black;
}

.bio-description {

  width:50rem;
  margin: 5rem auto;
  text-align: center;
  color: #112D32;
}

#projects {
  height: 30rem;
  border-bottom:2px dashed black;
}

#experience {
  height: 50rem;
  border-bottom: 2px dashed black;
}

.experience-work-container {
  display: flex;
  justify-content: space-evenly;
  height: 35rem;
  padding-top: 3rem;
}

.void-exp {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 16px;
  width: 24%;
  box-shadow: .3rem .3rem .2rem white;
}

.text-body-format {
  border-top: 2px solid white;
  padding: .4rem;
}

#void-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mdining-image {
  display: flex;
  justify-content: center;
}

#palio-image {
  display: flex;
  justify-content: center;
}

#void-logo {
  height: 8rem;
  margin: 1rem 0;
}

#mdining-logo {

  height: 6rem;
  width: 16rem;
  margin: 2rem 0;
}

#palio-logo {
  height: 6rem;
  width: 18rem;
  margin: 2rem 0;
}

.dining-hall-exp {
  display: flex;
  flex-direction: column;
  border: 2px solid #e4dbd9;
  border-radius: 16px;
  width: 24%;
  box-shadow: .3rem .3rem .2rem white;
}

.palio-exp {
  display:flex;
  flex-direction: column;
  border: 2px solid #e4dbd9;
  border-radius: 16px;
  width: 24%;
  box-shadow: .3rem .3rem .2rem white;
}



#contact {
  height: 30rem;
  border-bottom: 2px solid #474985
}

.titles {
  width:20rem;
  font-size: 2.5rem;
  padding-left: 5rem;
  padding-top: 3rem;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 5rem;
}