/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
​
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
​
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
​
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
​
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
​
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
​
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
​
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* END OF RESET STYLES*/
.nav-bar {
    display: flex;
    height: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
    justify-content: flex-end;

}
.name-in-hdr {
    margin-right: auto;
    color: blue;
}

.btn {

    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;

  }
  
  /* find better colors */
  .About {
    border-color: red;
    color:red;
  }
  
  a.About:hover {
    background-color: red;
    color: white;
  }
  
  /* Blue */
  .Projects {
    border-color: blue;
    color: blue
  }
  
  .Projects:hover {
    background: blue;
    color: white;
  }
  
  /* Orange */
  .Experience {
    border-color: orange;
    color: orange;
  }
  
  .Experience:hover {
    background: orange;
    color: white;
  }
  
  /* Red */
  .Contact {
    border-color: green;
    color: green
  }
  
  .Contact:hover {
    background: green;
    color: white;
  }
  
  /* Gray */
  .Resume {
    border-color: purple;
    color: purple;
  }
  
  .Resume:hover {
    background: purple;
    color: white
  }